<a href="https://colab.research.google.com/github/shrikantnarayankar15/flight-price-prediction/blob/master/flight_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
import seaborn as sns

In [0]:
train_df = pd.read_csv('https://raw.githubusercontent.com/shrikantnarayankar15/flight-price-prediction/master/Data_Train.csv')
test_df = pd.read_csv('https://raw.githubusercontent.com/shrikantnarayankar15/flight-price-prediction/master/Test_set.csv')

In [14]:
train_df.head()

       Airline Date_of_Journey    Source  ... Total_Stops Additional_Info  Price
0       IndiGo      24/03/2019  Banglore  ...    non-stop         No info   3897
1    Air India       1/05/2019   Kolkata  ...     2 stops         No info   7662
2  Jet Airways       9/06/2019     Delhi  ...     2 stops         No info  13882
3       IndiGo      12/05/2019   Kolkata  ...      1 stop         No info   6218
4       IndiGo      01/03/2019  Banglore  ...      1 stop         No info  13302

[5 rows x 11 columns]

In [15]:
test_df.head()

             Airline Date_of_Journey  ... Total_Stops              Additional_Info
0        Jet Airways       6/06/2019  ...      1 stop                      No info
1             IndiGo      12/05/2019  ...      1 stop                      No info
2        Jet Airways      21/05/2019  ...      1 stop  In-flight meal not included
3  Multiple carriers      21/05/2019  ...      1 stop                      No info
4           Air Asia      24/06/2019  ...    non-stop                      No info

[5 rows x 10 columns]

In [0]:
big_df = train_df.append(test_df,sort=False)

In [18]:
big_df.tail()

                Airline Date_of_Journey  ... Additional_Info Price
2666          Air India       6/06/2019  ...         No info   NaN
2667             IndiGo      27/03/2019  ...         No info   NaN
2668        Jet Airways       6/03/2019  ...         No info   NaN
2669          Air India       6/03/2019  ...         No info   NaN
2670  Multiple carriers      15/06/2019  ...         No info   NaN

[5 rows x 11 columns]

In [20]:
big_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dtype: object

#Feature_engineering

In [0]:
big_df['Date']=big_df['Date_of_Journey'].str.split('/').str[0].astype(int)
big_df['Month']=big_df['Date_of_Journey'].str.split('/').str[1].astype(int)
big_df['Year']=big_df['Date_of_Journey'].str.split('/').str[2].astype(int)

In [26]:
big_df.head()

       Airline Date_of_Journey    Source  ... Date Month  Year
0       IndiGo      24/03/2019  Banglore  ...   24     3  2019
1    Air India       1/05/2019   Kolkata  ...    1     5  2019
2  Jet Airways       9/06/2019     Delhi  ...    9     6  2019
3       IndiGo      12/05/2019   Kolkata  ...   12     5  2019
4       IndiGo      01/03/2019  Banglore  ...    1     3  2019

[5 rows x 14 columns]

In [28]:
big_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
dtype: object

In [0]:
big_df = big_df.drop(['Date_of_Journey'], axis = 1)

In [30]:
big_df.head()

       Airline    Source Destination  ... Date Month  Year
0       IndiGo  Banglore   New Delhi  ...   24     3  2019
1    Air India   Kolkata    Banglore  ...    1     5  2019
2  Jet Airways     Delhi      Cochin  ...    9     6  2019
3       IndiGo   Kolkata    Banglore  ...   12     5  2019
4       IndiGo  Banglore   New Delhi  ...    1     3  2019

[5 rows x 13 columns]

In [0]:
big_df['Arrive_time'] = big_df['Arrival_Time'].str.split(' ').str[0]

In [34]:
big_df[big_df['Total_Stops'].isnull()]

        Airline Source Destination Route  ... Date Month  Year Arrive_time
9039  Air India  Delhi      Cochin   NaN  ...    6     5  2019       09:25

[1 rows x 14 columns]

In [0]:
big_df['Total_Stops'] = big_df['Total_Stops'].fillna('1 stop')

In [0]:
big_df['Total_Stops']=big_df['Total_Stops'].replace('non-stop','0 stop')

In [37]:
big_df['Total_Stops'].unique()

array(['0 stop', '2 stops', '1 stop', '3 stops', '4 stops'], dtype=object)

In [0]:
big_df['Stops'] = big_df['Total_Stops'].str.split(' ').str[0].astype(int)

In [39]:
big_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int64
Month                int64
Year                 int64
Arrive_time         object
Stops                int64
dtype: object

In [0]:
big_df['Arrival_hour'] = big_df['Arrive_time'].str.split(':').str[0].astype(int)
big_df['Arrival_minute'] = big_df['Arrive_time'].str.split(':').str[1].astype(int)

In [0]:
big_df['Dep_hour'] = big_df['Dep_Time'].str.split(':').str[0].astype(int)
big_df['Dep_minute'] = big_df['Dep_Time'].str.split(':').str[1].astype(int)

In [0]:
big_df = big_df.drop(['Arrive_time','Dep_Time','Arrival_Time'],axis=1)

In [0]:
big_df = big_df.drop(['Total_Stops'],axis=1)

In [48]:
big_df.head()

       Airline    Source Destination  ... Arrival_minute Dep_hour Dep_minute
0       IndiGo  Banglore   New Delhi  ...             10       22         20
1    Air India   Kolkata    Banglore  ...             15        5         50
2  Jet Airways     Delhi      Cochin  ...             25        9         25
3       IndiGo   Kolkata    Banglore  ...             30       18          5
4       IndiGo  Banglore   New Delhi  ...             35       16         50

[5 rows x 15 columns]

In [0]:
big_df['Route1'] = big_df['Route'].str.split('?').str[0]
big_df['Route2'] = big_df['Route'].str.split('?').str[1]
big_df['Route3'] = big_df['Route'].str.split('?').str[2]
big_df['Route4'] = big_df['Route'].str.split('?').str[3]
big_df['Route5'] = big_df['Route'].str.split('?').str[4]

In [69]:
big_df.select_dtypes('object').columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Duration',
       'Additional_Info', 'Route1', 'Route2', 'Route3', 'Route4', 'Route5'],
      dtype='object')

In [0]:
big_df[big_df.select_dtypes('object').columns] = big_df[big_df.select_dtypes('object').columns].apply(lambda x: x.astype(str).str.strip())

In [80]:
big_df.head()

       Airline    Source Destination  ... Route3 Route4 Route5
0       IndiGo  Banglore   New Delhi  ...    nan    nan    nan
1    Air India   Kolkata    Banglore  ...    BBI    BLR    nan
2  Jet Airways     Delhi      Cochin  ...    BOM    COK    nan
3       IndiGo   Kolkata    Banglore  ...    BLR    nan    nan
4       IndiGo  Banglore   New Delhi  ...    DEL    nan    nan

[5 rows x 20 columns]

In [0]:
big_df['Price'].fillna(big_df['Price'].mean(), inplace=True)

In [0]:
big_df['Route1'].fillna("None", inplace=True)
big_df['Route2'].fillna("None", inplace=True)
big_df['Route4'].fillna("None", inplace=True)
big_df['Route5'].fillna("None", inplace=True)
big_df['Route3'].fillna("None", inplace=True)

In [84]:
big_df.head()

       Airline    Source Destination  ... Route3 Route4 Route5
0       IndiGo  Banglore   New Delhi  ...    nan    nan    nan
1    Air India   Kolkata    Banglore  ...    BBI    BLR    nan
2  Jet Airways     Delhi      Cochin  ...    BOM    COK    nan
3       IndiGo   Kolkata    Banglore  ...    BLR    nan    nan
4       IndiGo  Banglore   New Delhi  ...    DEL    nan    nan

[5 rows x 20 columns]

In [0]:
big_df=big_df.drop(['Route','Duration'],axis=1)

In [89]:
big_df.select_dtypes(exclude=['int','float']).columns

Index(['Airline', 'Source', 'Destination', 'Additional_Info', 'Route1',
       'Route2', 'Route3', 'Route4', 'Route5'],
      dtype='object')

In [0]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [0]:
cat_columns = big_df.select_dtypes(exclude=['int','float']).columns.values

In [0]:
for i in cat_columns:
  big_df[i]=encoder.fit_transform(big_df[i])

In [94]:
big_df.head()

   Airline  Source  Destination  ...  Route3  Route4  Route5
0        3       0            5  ...      27      11       5
1        1       3            0  ...       1       3       5
2        4       2            1  ...       4       5       5
3        3       3            0  ...       3      11       5
4        3       0            5  ...       7      11       5

[5 rows x 18 columns]